:root{
    font-size: 20px;
    color: white;
}
.add-contact {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.txt{
    padding: 10px;
    background-color: #777;
}
form {
    padding: 15px;
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 25%;
}
input {
    width: 200px;
}
.formitem {
    margin: 5px;
}
#add-btn {
    background-color: #999;
    border: 0;
    border-radius: 5px;
    color: white;
    margin-right: 7px;
}